




<div class="owl-carousel owl-theme owl-loaded owl-drag">
    <div class="owl-stage-outer">
        <div class="owl-stage">


            <div class="owl-item active" >
                <img src="/Img/C.png" class="img-fluid">               
            </div>
            <div class="owl-item active">
                <img src="/Img/net.jpg" class="img-fluid">
            </div>
            <div class="owl-item active" >
                <img src="/Img/efCore.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/NET_Core.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/blazor.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/docker.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/Git.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/html.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/javascript.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/css.jpg" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/mssql.jpg" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/saas.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/postman.jpg" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/rabbit.jpg" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/react.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/apache.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/typescript.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/powershell.png" class="img-fluid">
            </div>
            <div class="owl-item active">
                <img src="/Img/linux.png" class="img-fluid">
            </div>

         
        </div>
    </div>
    <!-- <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><span
                aria-label="Previous">‹</span></button><button type="button" role="presentation"
            class="owl-next"><span aria-label="Next">›</span></button></div>
    <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
            role="button" class="owl-dot"><span></span></button><button role="button"
            class="owl-dot"><span></span></button></div> -->
</div>