<div class="col-12 col-xl-2">
    <MudSelect T="string" ValueChanged="Change" Value="@type" Label="Select table type" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
        <MudSelectItem Value="@("A")">Mid</MudSelectItem>
        <MudSelectItem Value="@("B")">Other Mid</MudSelectItem>
        <MudSelectItem Value="@("C")">bid and ask</MudSelectItem>
    </MudSelect>
</div>
