@page "/Contact"

<div class="wrap--contact">
    <div class="photo">

    </div>
    <div class="data">
        <div>Kontakt</div>
        <div>
            <div>
                Telefon: 
            </div>
            <div>
                Mail:
            </div>
        </div>
        <div>Media społecznościowe</div>
        <div>
            <div class="git">
                <MudIconButton Href="https://github.com/kurowskipatryk" Icon="fa-brands fa-github"></MudIconButton>
            </div>
            <div class="linked">
                <MudIconButton Href="https://www.linkedin.com/in/patryk-kurowski-22b43b1b6/" Icon="fa-brands fa-linkedin"></MudIconButton>
            </div>
        </div>
    </div>
    <div class="map">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe src="https://maps.google.com/maps?q=nysa&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" style="width: 550px; height: 400px;"></iframe>
            </div>
        </div>
    </div>
</div>



@code {

}
