

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .education-image,
    .expirience-image {
        display: none;
    }

    @media (min-width: 768px) {
        .education-image,
        .expirience-image {
            display: flex;
        }
    }

    .reveal {
        position: relative;
        display: flex;
        transform: translateY(150px);
        opacity: 0;
        transition: all 2s ease;
        align-items: center;
    }

    .reveal.active {
        transform: translateY(0px);
        opacity: 1;
    }
}






.wrap--section-skills {
    display: flex;
    flex-direction: column;



    .skill {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        img {
            width: 20px;
        }
    }
}

.wrap--section-info {
    display: flex;
    justify-content: space-between;

    .skill {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .fa-globe {
        font-size: 24px;
        margin: 0 1px;
        color: rgba(100,100,100,0.4);
    }

    .fa-globe.yellow {
        color: #ffea00;
    }

    .additional, .hobby {
        display: flex;
        justify-content: start;
        align-items: center;

        i {
            margin-right: 15px;
        }
    }
}

@keyframes slideup {
    0% {
        top: 150px;
    }

    100% {
        top: 0;
    }
}

::deep .slick-slide {
    width: 200px;
}


.carousel {
    margin-top: 40px;

    .carousel-inner {
        width: 80%;
        margin: auto;
    }

    .carousel-item {
        img {
            width: 100px;
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
    }
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}
