


/*.wrap-slick {
    display: flex;
    position: relative;

    .slider {

        img {
            width: 150px;
            height: 90px;
        }
    }

    .arrow {
        z-index: 101;
        top: calc(50% - 18px);
    }

    .prev-arrow {
        left: 0;
        transform: rotate(180deg)
    }

    .next-arrow {
        right: 0;
    }

    .arrow:hover {
        background-color: gray;
    }

    .slick-slide {
        display: flex;
        justify-content: center;
    }
}*/

.wrap--section1 {
    .section1 {
        height: 250px;
        margin-top: 40px;
        /*    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;*/
        position: relative;

        .slide {
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            animation-name: slideup;
            animation-delay: 0.5s;
            animation-duration: 0.8s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
            align-items: center;
            justify-content: center;
        }
    }
}

.wrap--section-skills {
    display: flex;
    flex-direction: column;



    .skill {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        img {
            width: 20px;
        }
    }
}

.wrap--section-info {
    display: flex;
    justify-content: space-between;

    .skill {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .fa-globe {
        font-size: 24px;
        margin: 0 1px;
        color: rgba(100,100,100,0.4);
    }

    .fa-globe.yellow {
        color: #ffea00;
    }

    .additional, .hobby {
        display: flex;
        justify-content: start;
        align-items: center;

        i {
            margin-right: 15px;
        }
    }
}

@keyframes slideup {
    0% {
        top: 150px;
    }

    100% {
        top: 0;
    }
}

::deep .slick-slide {
    width: 200px;
}


.carousel {
    margin-top: 40px;

    .carousel-inner {
        width: 80%;
        margin: auto;
    }

    .carousel-item {
        img {
            width: 100px;
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
    }
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}
